<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}
        <input style="width:190px;height:30px;margin-top:10px;" type="text" name="username" placeholder="Enter email"><br>
    <input style="width:190px;height:30px;margin-top:10px;" type="password" name="password" placeholder="4 Digit Pin"><br>
    <a></a><input style="width:150px;height:30px;margin-top:10px;background-color:skyblue;" type="submit"> <br><br>


</form>
</body>
</html>
<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Welcome to SBT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'loginuser/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap py-5">
		      	<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/bg.jpg);"></div>
		      	<h3 class="text-center mb-0">Welcome SBT User</h3>
		      	<p class="text-center">Sign in by entering the information below</p>
						<form  method="post" class="login-form">{% csrf_token %}
		      		<div class="form-group">
		      			<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
		      			<input type="text" class="form-control" placeholder="Username" name="username" required>
		      		</div>
	            <div class="form-group">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
	              <input type="password" class="form-control" placeholder="Password" name="pin" required>
	            </div>
	            <div class="form-group d-md-flex">
								<div class="w-100 text-md-right">
									<a href="#">Forgot Password</a>
								</div>
	            </div>
	            <div class="form-group">

	            	<button type="submit" class="btn form-control btn-primary rounded submit px-3">Get Started</button>
	            </div>
	          </form>
	          <div class="w-100 text-center mt-4 text">
	          	<p class="mb-0">Don't have an account?</p>
		          <a href="http://127.0.0.1:8000/bankapp/register/">Sign Up</a>
	          </div>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'loginuser/js/jquery.min.js' %}"></script>
  <script src="{% static 'loginuser/js/popper.js' %}"></script>
  <script src="{% static 'loginuser/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'loginuser/js/main.js' %}"></script>

	</body>
</html>