
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'addamount/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'addamount/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'addamount/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'addamount/css/style.css' %}">

    <title>Login #8</title>
  </head>
  <body>



  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="{% static 'addamount/images/undraw_file_sync_ot38.svg' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3> <strong>Add your money here.We keep your money</strong></h3>
              <p class="mb-4">Withdraw your money in any time </p>
            </div>
            <form  method="post">{% csrf_token %}
              <div class="form-group first">
<!--                <label for="username">Enter amount to add</label>-->
                  <select name="statement">
                    <option>...choose...</option>
                    <option value="deposit">Deposite</option>
                    <option value="withdraw">Withdraw</option>

                </select>

              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="pin">
              </div>
              <input type="submit" value="Log In" class="btn text-white btn-block btn-primary">
            </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


    <script src="{% static 'addamount/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'addamount/js/popper.min.js' %}"></script>
    <script src="{% static 'addamount/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'addamount/js/main.js' %}"></script>
  </body>
</html>