<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/31f4942045.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="height:700px;width:800px;background-color:lightgreen;float:left;margin-left:30px;">
<div class="row">
        <div class="col-4 border border-2" style="background-color:blueviolet;height:500px;width:300px;margin-top:120px;margin-left:100px;">
            <h3 align="center" style="color:white;">PERSONAL DETAILS</h3>
            <p>First Name : {{a.firstname}}</p>
            <p>Last Name : {{a.lastname}}</p>
            <p>Email : {{a.email}}</p>
            <p>Phone : {{a.phone}}</p>
            <a href="http://127.0.0.1:8000/bank_app/edit/{{a.id}}" class="btn btn-primary" style="margin-left:5px;">Edit Details</a><br><br>
            <a href="http://127.0.0.1:8000/bank_app/statement/{{a.id}}"><button type="submit" class="btn btn-outline-danger">MINISTATEMENT</button></a><br><br>
            <a href="http://127.0.0.1:8000/bank_app/display/"><button type="submit" class="btn btn-outline-success">NEWSFEED</button></a><br><br>
            <a href="http://127.0.0.1:8000/bank_app/logoutt/"><button type="submit" class="btn btn-danger">Log Out</button></a><br><br>
        </div>
        <div class="col-5 border border-2" style="background-color:darkslateblue;height:500px;width:300px;margin-top:120px;">
            <a href="http://127.0.0.1:8000/bank_app/addmoney/{{a.id}}" class="btn btn-success" style="margin-top:150px;margin-left:80px;">Add Amount</a>
            <a href="http://127.0.0.1:8000/bank_app/widrawmoney/{{a.id}}" class="btn btn-success" style="margin-top:50px;margin-left:60px;">Withdraw Amount</a>
            <a href="http://127.0.0.1:8000/bank_app/checkbalance/{{a.id}}" class="btn btn-success" style="margin-top:50px;margin-left:70px;">Check Balance</a>

        </div>
    </div>
</div>
<div class="container" style="height:700px;width:500px;float:left;background-color:lightblue;">
    <div class="row">
        <div class="col-4 border border-2" style="background-color:darkgreen;height:500px;width:300px;margin-top:120px;margin-left:100px;">
            <div style="height:100px;width:100px;background-color:grey;border-radius:100px;margin-left:90px;">
                <img src="{% static img %}" style="height:100px;width:100px;border-radius:100px;">
            </div>
            <p><a href="http://127.0.0.1:8000/bank_app/fileedit/{{a.id}}"><i class="fa-solid fa-image fa-2x"></i></a></p>
            <p><label style="color:white;">User Name : {{a.username}} </label></p>
            <p><label  style="color:white;">Account Number: {{a.account}}</label></p>


        </div>
    </div>
</div>
</body>
</html>